{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Acceso al Sistema</title>
    <link rel="stylesheet" href="{% static 'authentication/css/style.css' %}">
</head>
<body>
    <div class="background-overlay"></div>
    
    <div class="login-wrapper">
        <div class="login-card">
            <h2>Iniciar Sesión</h2>
            <p>Bienvenido a HealthAnalytics IPS</p>
            
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="input-group">
                    <input type="text" name="username" placeholder="Usuario" required>
                </div>
                <div class="input-group">
                    <input type="password" name="password" placeholder="Contraseña" required>
                </div>
                <button type="submit">Iniciar Sesión</button>
            </form>
        </div>
        <footer class="footer">
          &copy; <span id="year"></span> HealthAnalytics IPS. Todos los derechos reservados.
      </footer>
    </div>

      

         
</body>
</html>